.parent {
  position: relative;
}
.over-img {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 20%;
}
.arrows {
  width: 100%;
}
.over-text {
  position: absolute;
  top: 30%;
  left: 1%;
}
.white-text {
  color: white;
}
.light-blue {
  color: #03a3df;
}
.dark-blue {
  color: #1b447f;
}
.rectangal {
  background-color: #444444;
}
nav {
  position: absolute;
  left: 50%;
  bottom: 73%;
}
a:link {
  color: #03a3df;
}
a:visited {
  color: #03a3df;
}
.col {
    float: left;
    padding: 5px;
    border: 1px solid #ecb722;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    border: 1px solid #ecb722;
}
.span_1_of_12 {
  width: 8.33%;
}

.span_2_of_12 {
  width: 16.66%;
}

.span_3_of_12 {
  width: 25%;
}

.span_4_of_12 {
  width: 33.33%;
}

.span_5_of_12 {
  width: 41.66%;
}

.span_6_of_12 {
  width: 50%;
}

.span_7_of_12 {
  width: 58.33%;
}

.span_8_of_12 {
  width: 66.66%;
}

.span_9_of_12 {
  width: 75%;
}

.span_10_of_12 {
  width: 83.33%;
}

.span_11_of_12 {
  width: 91.66%;
}

.span_12_of_12 {
  width: 100%;
}
